{
  "openapi": "3.0.4",
  "info": {
    "title": "BeatLeader API. Get various Beat Saber information.",
    "description": "Retrieves players, scores, rankings, maps, leaderboards and much more for Beat Saber.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.beatleader.xyz"
    }
  ],
  "paths": {
    "/achievement": {
      "put": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_CreateAchievement",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AchievementDescription"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AchievementDescription"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AchievementDescription"
                }
              }
            }
          }
        }
      }
    },
    "/achievement/{id}/level": {
      "put": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_CreateAchievementLevel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "smallImage",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "detailedDescription",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AchievementLevel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AchievementLevel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AchievementLevel"
                }
              }
            }
          }
        }
      }
    },
    "/achievements": {
      "get": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_AllAchievements",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AchievementDescription"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AchievementDescription"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AchievementDescription"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/player/{id}/achievements": {
      "get": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_GetAchievements",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Achievement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Achievement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Achievement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/achievement/{id}": {
      "delete": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_RemoveAchievement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/player/{id}/achievement": {
      "post": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_GrantPlayerAchievement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "achievemntId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Achievement"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Achievement"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Achievement"
                }
              }
            }
          }
        }
      }
    },
    "/survey/filled": {
      "post": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_MarkSurveyFilled",
        "parameters": [
          {
            "name": "playerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/survey/achievement": {
      "get": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_AssignAchievement",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Achievement"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Achievement"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Achievement"
                }
              }
            }
          }
        }
      }
    },
    "/survey/week100": {
      "get": {
        "tags": [
          "Achievements"
        ],
        "operationId": "Achievements_Week100Achievement",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/alias/request": {
      "post": {
        "tags": [
          "AliasManagement"
        ],
        "operationId": "AliasManagement_MakeAliasRequest",
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequest"
                }
              }
            }
          }
        }
      }
    },
    "/alias/player/{id}": {
      "delete": {
        "tags": [
          "AliasManagement"
        ],
        "operationId": "AliasManagement_RemoveAliasRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/alias/requests": {
      "get": {
        "tags": [
          "AliasManagement"
        ],
        "operationId": "AliasManagement_GetAliasRequest",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequestResponseWithMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequestResponseWithMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequestResponseWithMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/alias/request/{id}/resolve": {
      "post": {
        "tags": [
          "AliasManagement"
        ],
        "operationId": "AliasManagement_ResolveAliasRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "enum": [
                "unknown",
                "open",
                "approved",
                "declined"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/AliasRequestStatus"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "unknown",
                    "open",
                    "approved",
                    "declined"
                  ],
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasRequest"
                }
              }
            }
          }
        }
      }
    },
    "/signin": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignIn",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignIn",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string"
                  },
                  "returnUrl": {
                    "type": "string"
                  },
                  "oauthState": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "provider": {
                  "style": "form"
                },
                "returnUrl": {
                  "style": "form"
                },
                "oauthState": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signin/approve": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignInApprove",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "returnUrl": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "returnUrl": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signinmigrate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignInMigrate",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string"
                  },
                  "returnUrl": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "provider": {
                  "style": "form"
                },
                "returnUrl": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/steamcallback": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SteamLoginCallback",
        "parameters": [
          {
            "name": "ReturnUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Random",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "migrateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauthState",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signinmigrate/oculuspc": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignInMigrateOculus",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string"
                  },
                  "returnUrl": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "provider": {
                  "style": "form"
                },
                "returnUrl": {
                  "style": "form"
                },
                "token": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signinoculus": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignInOculus",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "oauthState": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "oauthState": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signinoculus/oculuspc": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignInOculusMigrateOculus",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "returnUrl": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "token": {
                  "style": "form"
                },
                "returnUrl": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oauthclient/info": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetOauthClientInfo",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OauthClientInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OauthClientInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OauthClientInfo"
                }
              }
            }
          }
        }
      }
    },
    "/oauthclient/antiforgery": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetAntiforgeryToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/authorize": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Authorize",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Accept",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oauth2/identity": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Userinfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cookieRefresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_CookieRefresh",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signout": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignOutCurrentUser",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignOutCurrentUser",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/backup/file/{container}/{filename}": {
      "get": {
        "tags": [
          "Backup"
        ],
        "operationId": "Backup_GetBackupFile",
        "parameters": [
          {
            "name": "container",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "replays",
                "otherreplays",
                "assets",
                "previews",
                "scorestats",
                "playlists",
                "unicode",
                "configs",
                "replayedvalues",
                "reepresets",
                "songs",
                "attempts"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/S3Container"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "replays",
                    "otherreplays",
                    "assets",
                    "previews",
                    "scorestats",
                    "playlists",
                    "unicode",
                    "configs",
                    "replayedvalues",
                    "reepresets",
                    "songs",
                    "attempts"
                  ],
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/badge": {
      "put": {
        "tags": [
          "Badge"
        ],
        "operationId": "Badge_CreateBadge",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "playerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              }
            }
          }
        }
      }
    },
    "/badge/{id}": {
      "put": {
        "tags": [
          "Badge"
        ],
        "operationId": "Badge_UpdateBadge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Badge"
        ],
        "operationId": "Badge_DeleteBadge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/player/badge/{playerId}/{badgeId}": {
      "put": {
        "tags": [
          "Badge"
        ],
        "operationId": "Badge_AddBadge",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "badgeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          }
        }
      }
    },
    "/badges/all": {
      "get": {
        "tags": [
          "Badge"
        ],
        "operationId": "Badge_AllBadges",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BadgeListingResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BadgeListingResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BadgeListingResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beasties/nominations": {
      "get": {
        "tags": [
          "BeastSaber"
        ],
        "summary": "Retrieve a list of nominations for particular leaderboard",
        "description": "Authenticated player Beasties nominations.",
        "operationId": "BeastSaber_GetAll",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of nominations retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Autorization failed"
          }
        }
      }
    },
    "/beasties/nominations/my": {
      "get": {
        "tags": [
          "BeastSaber"
        ],
        "summary": "Retrieve a list of nominations for particular leaderboard",
        "description": "Authenticated player Beasties nominations.",
        "operationId": "BeastSaber_PlayerNominations",
        "responses": {
          "200": {
            "description": "List of nominations retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Autorization failed"
          }
        }
      }
    },
    "/beasties/nominations/my/finalists": {
      "get": {
        "tags": [
          "BeastSaber"
        ],
        "summary": "Retrieve a list of player nominations that became finalists",
        "description": "Authenticated player Beasties nominations filtered to only finalists.",
        "operationId": "BeastSaber_PlayerFinalistNominations",
        "responses": {
          "200": {
            "description": "List of finalist nominations retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapInfoResponseBeasties"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapInfoResponseBeasties"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapInfoResponseBeasties"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Autorization failed"
          }
        }
      }
    },
    "/beasties/nominate": {
      "post": {
        "tags": [
          "BeastSaber"
        ],
        "summary": "Nominate a map for Besties Awards",
        "description": "Nominates provided leaderboard map for mapping awards in selected category",
        "operationId": "BeastSaber_Nominate",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map was nominated",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BestiesNominationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestiesNominationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestiesNominationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Autorization failed"
          }
        }
      }
    },
    "/beatcancer/ongoing": {
      "get": {
        "tags": [
          "BeatCancer"
        ],
        "operationId": "BeatCancer_BeatCancerOngoing",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/linkBeatSaverAndApprove": {
      "get": {
        "tags": [
          "BeatSaver"
        ],
        "operationId": "BeatSaver_LinkBeatSaverAndApprove",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/approveQualification": {
      "get": {
        "tags": [
          "BeatSaver"
        ],
        "operationId": "BeatSaver_ApproveQualification",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/linkBeatSaver": {
      "get": {
        "tags": [
          "BeatSaver"
        ],
        "operationId": "BeatSaver_LinkBeatSaver",
        "parameters": [
          {
            "name": "returnUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauthState",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clans": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve a list of clans",
        "description": "Fetches a paginated and optionally filtered list of clans (group of players). Filters include sorting by performance points, search, name, rank, and more.",
        "operationId": "Clan_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of players per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "enum": [
                "name",
                "pp",
                "acc",
                "rank",
                "count",
                "captures"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "name",
                    "pp",
                    "acc",
                    "rank",
                    "count",
                    "captures"
                  ],
                  "type": "string"
                }
              ],
              "default": 5
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Represents the order in which values will be sorted.",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanSortBy"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clans retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Clans not found"
          }
        }
      }
    },
    "/clan/{tag}": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve details of a specific clan by tag",
        "description": "Fetches details of a specific clan identified by its tag.",
        "operationId": "Clan_GetClan",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "Tag of the clan to retrieve details for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of players per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort players by, default is Pp",
            "schema": {
              "enum": [
                "pp",
                "topPp",
                "name",
                "rank",
                "acc",
                "weightedAcc",
                "top1Count",
                "top1Score",
                "weightedRank",
                "topAcc",
                "hmd",
                "playCount",
                "score",
                "lastplay",
                "maxStreak",
                "replaysWatched",
                "dailyImprovements",
                "timing",
                "allContextsPp",
                "level",
                "prestige",
                "experience",
                "scorePlaytime",
                "steamPlaytime",
                "steamPlaytime2Weeks"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlayerSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "pp",
                    "topPp",
                    "name",
                    "rank",
                    "acc",
                    "weightedAcc",
                    "top1Count",
                    "top1Score",
                    "weightedRank",
                    "topAcc",
                    "hmd",
                    "playCount",
                    "score",
                    "lastplay",
                    "maxStreak",
                    "replaysWatched",
                    "dailyImprovements",
                    "timing",
                    "allContextsPp",
                    "level",
                    "prestige",
                    "experience",
                    "scorePlaytime",
                    "steamPlaytime",
                    "steamPlaytime2Weeks"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "primary",
            "in": "query",
            "description": "Whether to include only players for whom this clan is primary, default is false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan details retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clan/id/{id}": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve details of a specific clan by ID",
        "description": "Fetches details of a specific clan identified by its ID.",
        "operationId": "Clan_GetClanById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the clan to retrieve details for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of players per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort players by, default is Pp",
            "schema": {
              "enum": [
                "pp",
                "topPp",
                "name",
                "rank",
                "acc",
                "weightedAcc",
                "top1Count",
                "top1Score",
                "weightedRank",
                "topAcc",
                "hmd",
                "playCount",
                "score",
                "lastplay",
                "maxStreak",
                "replaysWatched",
                "dailyImprovements",
                "timing",
                "allContextsPp",
                "level",
                "prestige",
                "experience",
                "scorePlaytime",
                "steamPlaytime",
                "steamPlaytime2Weeks"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlayerSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "pp",
                    "topPp",
                    "name",
                    "rank",
                    "acc",
                    "weightedAcc",
                    "top1Count",
                    "top1Score",
                    "weightedRank",
                    "topAcc",
                    "hmd",
                    "playCount",
                    "score",
                    "lastplay",
                    "maxStreak",
                    "replaysWatched",
                    "dailyImprovements",
                    "timing",
                    "allContextsPp",
                    "level",
                    "prestige",
                    "experience",
                    "scorePlaytime",
                    "steamPlaytime",
                    "steamPlaytime2Weeks"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "primary",
            "in": "query",
            "description": "Whether to include only players for whom this clan is primary, default is false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan details retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clan/{tag}/maps": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve clan maps by tag",
        "description": "Fetches ranked maps(maps that can be captured on the global map) for where players of clan made scores identified by its tag, with optional sorting and filtering.",
        "operationId": "Clan_GetClanWithMaps",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "Tag of the clan to retrieve maps for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of maps per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort maps by, default is Pp",
            "schema": {
              "enum": [
                "pp",
                "acc",
                "rank",
                "date",
                "tohold",
                "toconquer"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanMapsSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "pp",
                    "acc",
                    "rank",
                    "date",
                    "tohold",
                    "toconquer"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Context of the leaderboard, default is General",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "leftLeader"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "leftLeader"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "playedStatus",
            "in": "query",
            "description": "Filter by played status of current player",
            "schema": {
              "enum": [
                "any",
                "played",
                "unplayed"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlayedStatus"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "any",
                    "played",
                    "unplayed"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan maps retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clan/id/{id}/maps": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve clan maps by ID",
        "description": "Fetches ranked maps(maps that can be captured on the global map) for where players of clan made scores identified by its ID, with optional sorting and filtering.",
        "operationId": "Clan_GetClanWithMapsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the clan to retrieve maps for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of maps per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort maps by, default is Pp",
            "schema": {
              "enum": [
                "pp",
                "acc",
                "rank",
                "date",
                "tohold",
                "toconquer"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanMapsSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "pp",
                    "acc",
                    "rank",
                    "date",
                    "tohold",
                    "toconquer"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Context of the leaderboard, default is General",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "leftLeader"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "leftLeader"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "playedStatus",
            "in": "query",
            "description": "Filter by played status of current player",
            "schema": {
              "enum": [
                "any",
                "played",
                "unplayed"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlayedStatus"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "any",
                    "played",
                    "unplayed"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan maps retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clan/{id}/history": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve clan's statistic history",
        "description": "Fetches a list of player's performance metrics and various stats saved daily",
        "operationId": "Clan_GetHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Amount of days to include",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalMapHistory"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalMapHistory"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalMapHistory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "No history saved for the given clan ID"
          }
        }
      }
    },
    "/clan/id/{id}/triangle": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve clan details for the skill triangle",
        "description": "Fetches ranked maps(maps that can be captured on the global map) for where players of clan made scores identified by its tag, with optional sorting and filtering.",
        "operationId": "Clan_GetClanTriangleData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the clan to retrieve maps for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan triangle retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanTriangleResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanTriangleResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanTriangleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clans/globalmap": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve the global clan map",
        "description": "Fetches a global map showing clan captured maps and rankings.",
        "operationId": "Clan_GlobalMap",
        "responses": {
          "200": {
            "description": "Global map retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanGlobalMap"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanGlobalMap"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanGlobalMap"
                }
              }
            }
          },
          "404": {
            "description": "Global map not found"
          }
        }
      }
    },
    "/clan/create": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_CreateClan",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "bio",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "clanRankingDiscordHook",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playerChangesCallback",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Clan"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clan"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clan"
                }
              }
            }
          }
        }
      }
    },
    "/clan": {
      "delete": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_DeleteClan",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_UpdateClan",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clanRankingDiscordHook",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playerChangesCallback",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "bio",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/manager": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_UpdateManagers",
        "parameters": [
          {
            "name": "playerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissions",
            "in": "query",
            "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
            "schema": {
              "enum": [
                "none",
                "edit",
                "invite",
                "kick"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanPermissions"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "edit",
                    "invite",
                    "kick"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "example": 14
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/richbio": {
      "put": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_UpdateClanRichBio",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/discordInvite": {
      "put": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_UpdateDiscordInvite",
        "parameters": [
          {
            "name": "link",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/invite": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_InviteToClan",
        "parameters": [
          {
            "name": "player",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/cancelinvite": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_CancelinviteToClan",
        "parameters": [
          {
            "name": "player",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/kickplayer": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_KickPlayer",
        "parameters": [
          {
            "name": "player",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/accept": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_AcceptRequest",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/reject": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_RejectRequest",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ban",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/unban": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_UnbanClan",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/leave": {
      "post": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_leaveClan",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clan/playlist": {
      "put": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_AddPlaylist",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "clanId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FeaturedPlaylist"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeaturedPlaylist"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeaturedPlaylist"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ClanManagement"
        ],
        "operationId": "ClanManagement_DeletePlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "clanId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FeaturedPlaylist"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeaturedPlaylist"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeaturedPlaylist"
                }
              }
            }
          }
        }
      }
    },
    "/user/id": {
      "get": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_GetIdResult",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_GetCurrentUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UserReturn"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReturn"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReturn"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_UpdatePlayerAll",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileAppearance",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hue",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "saturation",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "effectName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leftSaberColor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rightSaberColor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starredFriends",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clanOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showBots",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showAllRatings",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showStatsPublic",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showExplicitCovers",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showStatsPublicPinned",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "horizontalRichBio",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "rankedMapperSort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hiddenSocials",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "richPresenceEnabled",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "streamingViewPermissions",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ReplayStreaming"
                }
              ]
            }
          },
          {
            "name": "streamingCommentPermissions",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ReplayStreaming"
                }
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/modinterface": {
      "get": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_GetCurrentUserMod",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseWithFriends"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseWithFriends"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseWithFriends"
                }
              }
            }
          }
        }
      }
    },
    "/oculususer": {
      "post": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_PostOculusUser",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "token": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OculusUser"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OculusUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OculusUser"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_GetOculusUser",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OculusUser"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OculusUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OculusUser"
                }
              }
            }
          }
        }
      }
    },
    "/user/friend": {
      "post": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_AddFriend",
        "parameters": [
          {
            "name": "playerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_RemoveFriend",
        "parameters": [
          {
            "name": "playerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/friends": {
      "patch": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_ChangeFriendsSettings",
        "parameters": [
          {
            "name": "is_public",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/cover": {
      "patch": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_UpdateCover",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "CurrentUser"
        ],
        "operationId": "CurrentUser_RemoveCover",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/richbio": {
      "put": {
        "tags": [
          "CurrentUser"
        ],
[...]
